{% extends 'base.html' %}
{% block title%}
Homepage
{% endblock %}


{% block content%}
  <p >
    {% for post in object_list %}
    <div class="card-body">
      {{ post.author}}
      <img src="{{post.images.url}}"<br>
      {{ post.caption}}<br>
      {{ post.comment}}<br>
      <form action="{% url 'like_post' post.pk%}" method="POST">
         {% csrf_token %}
         <button type="submit",name="post_id",value="{{post.id}}"><i class="bi bi-heart">likes</i></button>{{total_likes}}
      </form> - posted:{{post.posttime}}
    </div>
    {% endfor %}
    <h3>comments...</h3>
    {% if not post.comments.all %}
     No comments yet <a href="#">add one</a>

    {% else %} 
        {% for comment in comments %}
        <strong>{{comment.name}} - {{ comment.date_added}}</strong>
        {{ comment.body }}
        {% endfor %}
    {% endif %}
  </p>
{% endblock %}
